.header {
text-align: center;
}

.block img {
align-content: center;
width: 30%;
height: 225px;
margin-bottom: 10px;
margin-right: 1%;
border:2px solid black;
float:left;
}

.text {
background-color: lightgray;
font-size: 14px;
border: 3px solid lightblue;
width: 30%;
height: 225px;
text-align: center;
margin-bottom: 10px;
margin-right: 1%;
float:left;
}

.block2 img {
align-content: center;
width: 30%;
height: 225px;
margin-bottom: 10px;
margin-right: 1%;
border:2px solid black;
float:left;
}
.para1 {
font-size: 14px;
font-family: serif;
}
.para2 {
font-size: 14px;
font-family: serif;
}

ul#navbar {
display:inline;
text-align: center;
width: 100%;
overflow: hidden;
position: fixed;
bottom: 20;
}
ul#navbar li {
display:inline;
padding: 14px;
}
